

.crop-img{
    max-height: 150px;
    max-width:100%;
    margin-bottom: 5px;
    
  }

.large-img{
    max-width:100%;
    margin-top: 10px;
  }
#nav {
   position: relative;
   text-align: center;
   
}